.admin-dashboard-container {
  display: flex;
  justify-content: space-evenly;
  .admin-dashboard-questions-list-title {
    align-self: center;
  }

  .admin-dashboard-questions-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    border-radius: 10px;
    margin: 2rem 0;
    background: #dcffa4;
    .admin-dashboard-clear-question {
      width: max-content;
      padding: 0.51rem;
      border-radius: 1rem;
      background: #e4ff03;
      align-self: center;
      &:hover {
        box-shadow: 0 0 5px 0px #000000;
        cursor: pointer;
      }
      &:focus {
        outline: none;
      }
    }
    .question-answer-container {
      border: 3px solid black;
      border-radius: 5px;
      padding: 0.5rem;
      margin: 1rem;
      &:hover {
        background-color: #b8d6ff;
        cursor: pointer;
      }
      &.selected {
        background-color: #b8ffe0;
      }
      .answer-container {
        display: flex;
        padding: 1rem 0;

        .options {
          padding: 0.5rem;
          margin: 0 0.5rem;
          border-radius: 5px;
          background-color: #2b8dda;
          &.correct-answer {
            background-color: #4df74d;
          }
        }
      }
    }
  }

  .admin-dashboard-user-updates-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    border-radius: 10px;
    margin: 2rem 0;
    background: #dcffa4;
    .admin-dashboard-user-updates {
      padding: 0.5rem 1rem;
    }
  }
}
