.questionnaire-page {
  .option-selected {
    background-color: yellow;
  }

  .options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .option {
      box-sizing: border-box;
      width: 40%;
      padding: 12px;
      margin: 1rem;
      min-height: 80px;
    }
  }

  .endquiz-wrapper {
    .endquiz-title {
      // TODO: add later
    }
    .endquiz-button {
      // TODO: add later
    }
  }
}
