
.questionnaire-page {
  .option-selected {
    background-color: yellow;
  }
  
  .options {
    display: flex;
    width: 200px;
    width: 50%;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
  
    .option {
      box-sizing: border-box;
      width: 48%;
      padding: 12px;
      margin: 8px 4px;
      min-height: 80px;
    }
  }
  
  .endquiz-wrapper{
    .endquiz-title {
      // TODO: add later
    }
    .endquiz-button {
      // TODO: add later
    }
  }
}
