.quiz-header {
  padding: 4px;
  display: flex;
  background-color: #2ca01c;
  display: flex;
  justify-content: space-between;
  * {
    color: white;
  }

  .app-name {
    text-decoration: none;
    padding: 8px;
    &:hover {
      // box-shadow: 1px 1px 4px 0px #171717;
      opacity: 0.9;
    }
  }

  .user-action-wrapper {
    display: flex;
    align-items: center;

    .welcome-message {
      padding: 4px;
    }
  }

  .header-button {
    border: none;
    background-color: #19670a;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 8px;
    margin: 4px;
    text-decoration: none;

    &:active,
    &:hover,
    &:focus {
      box-shadow: 0px 0px 4px 1px #efefef;
      opacity: 0.9;
    }
  }

  .logout-button {
    background-color: #fbfbfb;
    color: #464646;
  }
}
